<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroNaka</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/contato.css" />
</head>
<body>
    <header class="CabecalhoHome">
        <div class="Logo">
            <img class="logo" src="/images/PetroNaka1.png" alt="...">
        </div>
        <nav>
            <ul>
                <li><a href="sobre">Sobre PetroNaka</a></li>
                <li><a href="negocio">Tecnologias</a></li>
                <li><a href="somos">Quem somos</a></li>
                <li><a href="cliente">Área do Cliente</a></li>
                <li><a href="contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <div class="linha-amarela"></div>

    <main class="MainContato">
            <h1>Entre em Contato</h1>
            <form id="formmulario-contato" action="enviar_email.php" method="POST">
                <div class="formmulario">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>
                <div class="formmulario">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="formmulario">
                    <label for="assunto">Assunto:</label>
                    <input type="text" id="assunto" name="assunto" required>
                </div>
                <div class="formmulario">
                    <label for="messagem">Mensagem:</label>
                    <textarea id="messagem" name="messagem" rows="4" required></textarea>
                </div>
                <button type="submit">Enviar</button>
            </form>
    </main>

    <footer>
        <div></div>
    </footer>
</body>
</html>