<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroNaka</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../stylesheets/novoPedido.css" />
</head>

<body>
    <header class="CabecalhoHome">
        <div class="Logo">
            <img class="logo" src="../../images/PetroNaka1.png" alt="...">
        </div>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/pedidos">Pedidos</a></li>
                <li><a href="/produtos">Produtos</a></li>
            </ul>
        </nav>
    </header>

    <div class="linha-amarela"></div>

    <main class="MainLogin">
        <div class="container">
            <h2>Editar Pedido</h2>
            <form action="/pedidos/editarPedido" method="post">
                {{#pedidos}}
                <div class="form-group">
                    <label for="usina">ID:</label>
                    <input type="text" id="id" name="id" value="{{_id}}" readonly>
                </div>
                <div class="form-group">
                    <label for="usina">Nome da Usina:</label>
                    <input type="text" id="usina" name="usina" value="{{usina}}" required>
                </div>
                {{/pedidos}}
                <div class="form-group">
                    <label for="produto">Produto:</label>
                    <select id="produto" name="produto" required>
                        {{#produto}}
                        <option value="{{nome}}">{{nome}}</option>
                        {{/produto}}
                        {{#produtos}}
                        <option value="{{nome}}">{{nome}}</option>
                        {{/produtos}}
                    </select>
                </div>
                {{#pedidos}}
                <div class="form-group">
                    <label for="quantidade">Quantidade:</label>
                    <input type="text" id="quantidade" name="quantidade" value="{{quantidade}}" required>
                </div>
                <div class="form-group">
                    <label for="preco">Preço:</label>
                    <input type="text" id="preco" name="preco" value="{{preco}}" required>
                </div>
                <div class="form-group">
                    <label for="destino">Destino:</label>
                    <input type="text" id="destino" name="destino" value="{{destino}}" required>
                </div>
                {{#error}}
                <label for="error" class="errado">{{error}}</label>
                {{/error}}
                <div class="form-group">
                    <button type="submit">Salvar alterações</button>
                </div>
                {{/pedidos}}

            </form>
        </div>
    </main>

    <footer>
        <div></div>
    </footer>

</body>

</html>