<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroNaka</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/login.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.2.0/mustache.min.js"></script>
    <script src="https://raw.githubusercontent.com/janl/mustache.js/master/mustache.min.js"
        type="application/javascript"></script>
</head>
<script src="../../javascripts/loginFunction.js"></script>

<script>

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.2.0/mustache.min.js"></script>

<body>
    <header class="CabecalhoHome">
        <div class="Logo">
            <img class="logo" src="../images/PetroNaka1.png" alt="...">
        </div>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/sobre">Sobre PetroNaka</a></li>
                <li><a href="/negocio">Tecnologias</a></li>
                <li><a href="/somos">Equipe</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <div class="linha-amarela"></div>

    <main class="MainLogin">
        <section id="login">
            <h2>Login</h2>
            <div class="campo-formulario">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="campo-formulario">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha">
            </div>

            <label for="errado" id="error" class="errado"></label>

            <button type="submit" onclick="login()">Entrar</button>
            <a class="criarConta" href="/novaConta">Criar conta</a>
        </section>
    </main>

    <footer>
        <div></div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.2.0/mustache.min.js"></script>
</body>

</html>