<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroNaka</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/negocio.css" />
</head>
<body>
    <header class="CabecalhoHome">
        <div class="Logo">
            <img class="logo" src="/images/PetroNaka1.png" alt="...">
        </div>
        <nav>
            <ul>
                <li><a href="sobre">Sobre PetroNaka</a></li>
                <li><a href="negocio">Tecnologias</a></li>
                <li><a href="somos">Quem somos</a></li>
                <li><a href="cliente">Área do Cliente</a></li>
                <li><a href="contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <div class="linha-amarela"></div>

    <main class="MainHome">
        <div class="MainSobre">
            <div class="sobre1">
                <img class="imageSobre" src="/images/rest.png" alt="...">
                REST é um estilo arquitetural para projetar serviços web que utiliza a estrutura e os princípios da World Wide Web. Em termos simples, REST é uma abordagem que permite que sistemas se comuniquem através de solicitações HTTP, seguindo convenções bem definidas para acessar, manipular e transferir dados de forma padronizada e interoperável.
            </div>
            <div class="sobre2">                
                <img class="imageSobre" src="/images/node.png" alt="...">
                Node.js é um ambiente de tempo de execução de código JavaScript que permite que você execute JavaScript do lado do servidor. Em termos simples, o Node.js permite que você crie aplicativos e serviços web usando JavaScript, tornando possível construir aplicações escaláveis e de alto desempenho com uma única linguagem de programação em ambos os lados: cliente e servidor.
            </div>
            <div class="sobre3">
                <img class="imageSobre" src="/images/html.png" alt="...">
                HTML é a linguagem de marcação utilizada para criar páginas web. Em termos simples, o HTML permite que você estruture o conteúdo de uma página, definindo os elementos e a organização dos diferentes elementos como texto, imagens, links e outros elementos interativos, permitindo assim a criação de páginas web visualmente atraentes e funcionais.
            </div>
            <div class="sobre4">
                <img class="imageSobre" src="/images/css.png" alt="...">
                CSS é uma linguagem de estilo utilizada em conjunto com o HTML para controlar a apresentação e o design de páginas web. Em termos simples, o CSS permite definir como os elementos HTML devem ser exibidos, determinando aspectos como cores, fontes, espaçamento, layout e outros atributos visuais. Com o CSS, é possível criar estilos personalizados e tornar as páginas web mais atraentes e estilizadas.
            </div>
    </main>

    <footer>
        <div></div>
    </footer>
</body>
</html>