<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroNaka</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/negocio.css" />
</head>

<body>
    <header class="CabecalhoHome">
        <div class="Logo">
            <img class="logo" src="/images/PetroNaka1.png" alt="...">
        </div>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/sobre">Sobre PetroNaka</a></li>
                <li><a href="/negocio">Tecnologias</a></li>
                <li><a href="/somos">Equipe</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <div class="linha-amarela"></div>

    <main class="MainHome">
        <div class="MainSobre">
            <div class="sobre1">
                <img class="imageSobre2" src="/images/express.png" alt="...">
                Express.js é um framework web leve e flexível para Node.js, projetado para facilitar a criação de
                aplicativos web e APIs. Ele fornece uma camada de abstração sobre o servidor HTTP do Node.js, permitindo
                que os desenvolvedores definam rotas, manipulem solicitações e respostas, gerenciem sessões e
                implementem uma variedade de recursos avançados para criar aplicativos web robustos e escaláveis.
            </div>
            <div class="sobre2">
                <img class="imageSobre" src="/images/node.png" alt="...">
                Node.js é um ambiente de tempo de execução de código JavaScript que permite que você execute JavaScript
                do lado do servidor. Em termos simples, o Node.js permite que você crie aplicativos e serviços web
                usando JavaScript, tornando possível construir aplicações escaláveis e de alto desempenho com uma única
                linguagem de programação em ambos os lados: cliente e servidor.
            </div>
            <div class="sobre3">
                <img class="imageSobre" src="/images/mustache.png" alt="...">
                Mustache é um sistema de templates simples e lógico, utilizado principalmente em linguagens de
                programação web para separar a lógica de apresentação do código. Ele permite que os desenvolvedores
                criem templates reutilizáveis, nos quais é possível inserir variáveis, estruturas condicionais e laços
                de repetição para gerar conteúdo dinâmico.
            </div>
            <div class="sobre4">
                <img class="imageSobre" src="/images/css.png" alt="...">
                CSS é uma linguagem de estilo utilizada em conjunto com o HTML para controlar a apresentação e o design
                de páginas web. Em termos simples, o CSS permite definir como os elementos HTML devem ser exibidos,
                determinando aspectos como cores, fontes, espaçamento, layout e outros atributos visuais. Com o CSS, é
                possível criar estilos personalizados e tornar as páginas web mais atraentes e estilizadas.
            </div>
    </main>

    <footer>
        <div></div>
    </footer>
</body>

</html>