<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroNaka</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/pedidos.css" />
</head>
<body>
    <header class="CabecalhoHome">
        <div class="Logo">
            <img class="logo" src="/images/PetroNaka1.png" alt="...">
        </div>
    </header>

    <div class="linha-amarela"></div>

    <main class="MainLogin">
        <section id="lista-pedidos">
            <h2>Lista de Pedidos</h2>
            <ul>
                <li>Pedido 1</li>
                <li>Pedido 2</li>
                <li>Pedido 3</li>
                <li>Pedido 4</li>
            </ul>
        </section>
    </main>

    <footer>
        <div></div>
    </footer>
</body>
</html>