<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroNaka</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/pedidos.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.16/jspdf.plugin.autotable.min.js"></script>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="../javascripts/pedidosFunctions.js"></script>
</head>

<body>
    <header class="CabecalhoHome">
        <div class="Logo">
            <img class="logo" src="../images/PetroNaka1.png" alt="...">
        </div>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/produtos">Produtos</a></li>
                <li><a class="logout-a" href="/logout">Sair</a></li>
            </ul>
        </nav>
    </header>

    <div class="linha-amarela"></div>

    <main class="MainLogin">
        <section id="lista-pedidos">
            <h2>Lista de Pedidos</h2>
            <table id="myTable">
                <thead>
                    <tr>
                        <th>Número Pedido</th>
                        <th>Nome da Usina</th>
                        <th>Nome do Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Destino</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tabela-pedidos">
                    {{#pedidos}}
                    <tr class="pedido">
                        <td>{{_id}}</td>
                        <td class="usina">{{usina}}</td>
                        <td class="produto">{{produto}}</td>
                        <td>{{quantidade}}</td>
                        <td>{{preco}}</td>
                        <td>{{destino}}</td>
                        <td><button class="btn-editar" onclick="editarPedido('{{_id}}')">editar</button></td>
                        <td><button class="btn-excluir" onclick="excluirPedido('{{_id}}')">excluir</button></td>
                    </tr>
                    {{/pedidos}}
                </tbody>
            </table>
            <button style="margin-top: 20px" id="btn-extrair-pdf" class="btn-extrair-pdf"
                onclick="exportToPdf()">Extrair PDF</button>

        </section>
        <form action="/pedidos/novoPedido" method="GET">
            <button type="submit">Novo pedido</button>
        </form>

    </main>

    <footer>
        <div></div>
    </footer>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "lengthMenu": [5, 10, 25, 50],
                "language": {
                    "lengthMenu": "_MENU_ registros",
                    "zeroRecords": "Nenhum registro encontrado",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrado de _MAX_ registros no total)",
                    "search": "Buscar",
                    "loadingRecords": "Loading...",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                }


            });
        });
    </script>

</body>

</html>