<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroNaka</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/sobre.css" />
</head>
<body>
    <header class="CabecalhoHome">
        <div class="Logo">
            <img class="logo" src="/images/PetroNaka1.png" alt="...">
        </div>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="sobre">Sobre PetroNaka</a></li>
                <li><a href="negocio">Tecnologias</a></li>
                <li><a href="somos">Quem somos</a></li>
                <li><a href="contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <div class="linha-amarela"></div>

    <main class="MainHome">
        <div class="MainSobre">
            <div class="sobre1">PetroNaka é uma empresa de negócios voltados para atuar nos fechamentos de negócios e emissão de pedidos de compras via essa plataforma web entre Produtores, Distribuidoras, Indústrias e demais empresas do setor Biocombustíveis.</div>
            <div class="sobre2"><img class="imageSobre" src="/images/fluxo-bio.png" alt="..."></div>
            <div class="sobre3">Possuímos Unidades de Etanol e Biodiesel, com relevante atuação nos mercados nacional, através de uma mesa de negócios composta por profissionais especializados e provenientes de cada setor.</div>
        </div>
    </main>

    <footer>
        <div></div>
    </footer>
</body>
</html>