<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroNaka</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/somos.css" />
</head>

<body>
    <header class="CabecalhoHome">
        <div class="Logo">
            <img class="logo" src="/images/PetroNaka1.png" alt="...">
        </div>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="sobre">Sobre PetroNaka</a></li>
                <li><a href="negocio">Tecnologias</a></li>
                <li><a href="somos">Quem somos</a></li>
                <li><a href="contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <div class="linha-amarela"></div>

    <main class="MainHome">
        <div class="MainSobre">
            <div class="imageSobre1">
                <img class="imageSobre" src="/images/somos.png" alt="...">
            </div>
            <div class="sobre1">
                O desenvolvedor é o William, estudante de engenharia de software na Universidade Tecnológica Federal do
                Paraná (UTFPR).
            </div>
            <div class="sobre2">
                Na UTFPR, estou adquirindo conhecimentos sólidos em programação e desenvolvimento web. Estou
                constantemente explorando novas tecnologias e aprimorando minhas habilidades para oferecer soluções
                inovadoras.
            </div>
            <div class="sobre3">
                Como estudante de engenharia de software na UTFPR, estou comprometido em entregar soluções de alta
                qualidade. Estando pronto para enfrentar desafios e transformar ideias em realidade.
            </div>
    </main>

    <footer>
        <div></div>
    </footer>
</body>

</html>