*{
    margin: 0;
}

.CabecalhoHome {
    font-family: 'Averia Libre';
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    padding-bottom: 20px;
  }
  
  .logo {
    width: 300px;
    margin-bottom: 20px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #D4AF37;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
  
  .linha-amarela {
    height: 4.5px;
    background-color: #D4AF37;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #D4AF37;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

.logoFooter {
    width: 52%;
    margin-top:5%;
}
.LogoFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    font-family: 'Averia Libre';
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 10px solid black;
    height: 39px;
    position: fixed;
    bottom: 0;
    width: 100%;
}