*{
    margin: 0;
}

.CabecalhoHome {
    font-family: 'Averia Libre';
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 10px solid black;
  }

.logo {
    width: 300px;
    margin-bottom: 12px;

}

.linha-amarela {
    height: 4.5px;
    background-color: #D4AF37;
}

nav ul {
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: #D4AF37;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.MainSobre {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }

.sobre1,
.sobre2,
.sobre3,
.sobre4 {
    text-decoration: none;
    color: black;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 18.2px;
}

.imageSobre {
    width: 90px;
    height: 90px;
    display:flex;
    margin-right: 20px;
}

.imageSobre2 {
    width: 160px;
    height: 100px;
    display:flex;
    margin-right: 20px;
}

footer{
    font-family: 'Averia Libre';
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 10px solid black;
    height: 39px;
    position: fixed;
    bottom: 0;
    width: 100%;
}