* {
    margin: 0;
}

.CabecalhoHome {
    font-family: 'Averia Libre';
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
}

.logo {
    width: 300px;
    margin-bottom: 12px;

}

.linha-amarela {
    height: 4.5px;
    background-color: #D4AF37;
}

footer {
    font-family: 'Averia Libre';
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 10px solid black;
    height: 39px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

h2 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 28px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 35px;
    background-color: #00ba03;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}